<div class="nav">
    <a routerLink="/home">
      <img src="/logoOnebitflix.svg" alt="logoOnebitflix" class="imgLogoNav"/>
    </a>
    <div class="d-flex align-items-center">
      <form [formGroup]="searchForm" (ngSubmit)="handleSearch($event)">
        <input
          formControlName="search"
          type="search"
          placeholder="Search"
          class="input"
          [(ngModel)]="searchName"
        />
      </form>
      <img
        src="/homeAuth/iconSearch.svg"
        alt="SearchHeader"
        class="searchImg"
        (click)="handleSearchClick()"
      />
      <p class="userProfile" (click)="handleOpenModal(content)">
        {{ initials }}
      </p>
    </div>
    <ng-template #content let-modal>
      <div class="modal">
        <a routerLink="/profile">
          <p class="modalLink">My configurations</p>
        </a>
        <p class="modalLink" (click)="handleLogout()">Exit</p>
      </div>
    </ng-template>
  </div>