<div class="py-4">
    <div class="row">
      <div class="col-md d-flex flex-column justify-content-center align-items-start">
        <p class="subTitle">Illimited access</p>
        <p class="title">Have access to the better <br/>Movies and Series</p>
        <p class="description">Watch wherever you are</p>
        <a routerLink="/register">
          <button class="btn btn-outline btnCta">
            Have it now! <img src="buttonPlay.svg" alt="buttonImg" class="btnImg"/>
          </button>
        </a>
      </div>
      <div class="col-md">
        <img src="homeNoAuth/imgPresentation.png" alt="imgIndex" class="imgPresentation" />
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center pt-5">
        <img src="homeNoAuth/iconArrowDown.svg" alt="arrowDown" class="arrowDown"/>
      </div>
    </div>
  </div>
  