@import "./../../styles/colors.module.scss";

.serie-info {
  margin-top: -120px;
}
.serie-title {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 25px;
  width: 700px;
}
.serie-description {
  color: $lightGray;
  width: 650px;
  padding-bottom: 25px;
}
.serie-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 35px;
  color: white;
  border-color: $lightRed;
  &:hover {
    border-color: $darkRed;
    color: $lightGray;
    background-color: transparent;
  }
}
.button-img {
  width: 10px;
  margin: 0;
  padding: 0;
}
.interactions {
  display: flex;
  gap: 20px;
  margin: 26px 0px;
  width: 50px; /* Largura do botão */
  height: 50px; /* Altura do botão */
}
.interection-img {
  width: 36px;
  cursor: pointer;
}
.episode-info {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.episode-division {
  font-weight: bold;
  border-bottom: 1px solid $lightRed;
  padding: 3px 14px;
  margin-bottom: 10px;
}
.episode-length {
  color: $lightGray;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .serie-title {
    font-size: 26px;
    width: 99%;
  }
  .serie-description {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .serie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .serie-title {
    font-size: 22px;
  }
  .serie-description {
    font-size: 14px;
  }
}