<form [formGroup]="userForm" (ngSubmit)="handleUserUpdate()" class="form">
    <div class="formName">
      <p class="nameAbbreviation">{{ userForm.value.firstName[0] }}{{ userForm.value.lastName[0] }}</p>
      <p class="userName">{{ userForm.value.firstName }} {{ userForm.value.lastName }}</p>
    </div>
    <div class="memberTime">
      <img src="/profile/iconUserAccount.svg" alt="iconProfile" class="memberTimeImg" />
      <p class="memberTimeText">
        Member since: <br /> {{ createdAt | date: 'd \'de\' MMMM \'de\' yyyy' }}
      </p>
    </div>
    <hr />
    <div class="inputFlexDiv">
      <div class="form-group">
        <label for="firstName" class="label">NAME</label>
        <input formControlName="firstName" type="text" id="firstName" required placeholder="What's your first name?" maxlength="20" class="inputFlex" />
      </div>
      <div class="form-group">
        <label for="lastName" class="label">Last Name</label>
        <input formControlName="lastName" type="text" id="lastName" required placeholder="What's your last name?" maxlength="20" class="inputFlex" />
      </div>
    </div>
    <div class="inputNormalDiv">
      <div class="form-group">
        <label for="phone" class="label">Phone number</label>
        <input formControlName="phone" type="tel" id="phone" required placeholder="(XX) XXXXX-XXXX" class="input" />
      </div>
      <div class="form-group">
        <label for="email" class="label">E-mail</label>
        <input formControlName="email" type="email" id="email" required placeholder="What's your e-mail?" class="input" />
      </div>
      <button type="submit" class="btn btn-primary formBtn" outline>Save</button>
    </div>
  </form>
  <app-toast [color]="color" [isOpen]="toastIsOpen" [message]="errorMessage"></app-toast>
  