<ng-container *ngIf="error; else content">
    <div>{{ error }}</div>
  </ng-container>
  <ng-template #content>
    <ng-container *ngIf="!data; else categoriesList">
      <app-page-spinner></app-page-spinner>
    </ng-container>
    <ng-template #categoriesList>
      <ng-container *ngFor="let category of data.categories">
        <app-list-categories-slide [categoryId]="category.id" [categoryName]="category.name"></app-list-categories-slide>
      </ng-container>
    </ng-template>
  </ng-template>
  