<p class="sectionTitle">What you going to access</p>
<div class="d-flex flex-wrap justify-content-center gap-4 pb-5">
  <div class="card1">
    <p class="cardTitle">SOME MOVIE</p>
    <p class="cardDescription">Some movie description</p>
  </div>
  <div class="card2">
    <p class="cardTitle">SOME MOVIE</p>
    <p class="cardDescription">Some movie description</p>
  </div>
  <div class="card3">
    <p class="cardTitle">SOME MOVIE</p>
    <p class="cardDescription">Some movie description</p>
  </div>
  <div class="card4">
    <p class="cardTitle">SOME MOVIE</p>
    <p class="cardDescription">Some movie description</p>
  </div>
  <div class="card5">
    <p class="cardTitle">SOME MOVIE</p>
    <p class="cardDescription">Some movie description</p>
  </div>
  <div class="card6">
    <p class="cardTitle">SOME MOVIE</p>
    <p class="cardDescription">Some movie description</p>
  </div>
</div>
