<div class="ctaSection">
    <img src="homeNoAuth/logoCta.png" alt="logoCta" class="imgCta"/>
    <p>Sign in to enjoy your videos</p>
    <img src="homeNoAuth/logoCta.png" alt="logoCta" class="imgCta"/>
  </div>
  <div class="nav">
    <img src="logoOnebitflix.svg" alt="logoNetflix" class="imgLogoNav"/>
    <div>
      <a routerLink="/login">
        <button class="navBtn" outline >Login</button>
      </a>
      <a routerLink="/register">
        <button class="navBtn" outline>Register</button>
      </a>
    </div>
  </div>
  