<form [formGroup]="passwordForm" (ngSubmit)="handlePasswordUpdate()" class="form">
    <div class="inputNormalDiv">
      <div class="form-group">
        <label for="currentPassword" class="label">Current Password</label>
        <input
          formControlName="currentPassword"
          type="password"
          id="currentPassword"
          placeholder="********"
          required
          class="input"
        />
      </div>
    </div>
    <div class="inputFlexDiv">
      <div class="form-group">
        <label for="newPassword" class="label">New Password</label>
        <input
          formControlName="newPassword"
          type="password"
          id="newPassword"
          placeholder="********"
          required
          class="inputFlex"
        />
      </div>
      <div class="form-group">
        <label for="confirmPassword" class="label">Confirm New Password</label>
        <input
          formControlName="confirmPassword"
          type="password"
          id="confirmPassword"
          placeholder="********"
          required
          class="inputFlex"
        />
      </div>
    </div>
    <button type="submit" class="formBtn" outline>S</button>
  </form>
  <app-toast [color]="color" [isOpen]="toastIsOpen" [message]="errorMessage"/>