.episode-title {
    font-size: 36px;
    font-weight: bold;
  }

  .player {
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .arrow-img {
    width: 35px;
    transition: 0.4s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .body {
    background-color: rgb(126, 119, 119);
}

.episode-btn-div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.episode-btn {
  font-size: 50px;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  padding: 0;
  background-color: transparent;
  &:hover {
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 45px;
    text-shadow: 6px 4px 4px black;
  }
  &:disabled {
    border: none;
    padding: 0;
    background-color: transparent;
  }
  &:active {
    outline: none;
    border: none;
    box-shadow: none;
  }

  &:focus {
    outline: none;
    border: none;
    box-shadow: transparent;
    background-color: transparent;
  }
}
  
  @media (max-width: 425px) {
    .episode-title {
      font-size: 20px;
      padding: 0px 10px;
      word-wrap: break-word;
    }
    .player {
      max-width: 100%;
      margin-top: -60px;
    }
  }
  
  @media (max-width: 320px) {
      .player {
        margin-top: -100px;
      }
    }